mixin card(name, price, image, rating)
    - price = `${price.toFixed(2)}`;
    td(class="product_card" width="30%" valign="top")
<<<<<<< HEAD
        a(href=`/products/${name}`)
=======
        a(href=`/product/:${name}`)
>>>>>>> 24e1cc84379079dc13eef4dd7b5d1007bbf647a8
            center                                              
                img(src=image class="product_pic" width="90%")
                table
                    tbody
                        tr
                            td(width="5%")
                                td(width="30%")
                                    strong(style='color: white;') !{name}
                                td(width="5%")
                                td(width="10%")
                                    h1
                                        font(face="Calibri")
                                            strong(style='color: white;') $!{price}
                                tr
                                    td(width="2%")
                                    td
                                        p(style='color: gold;') Rating: !{`${rating}/5.0`}